
body{
	background-color: #c9dff5;
	padding: 20px;
}
#container{
	width: 800px;
	margin:  auto;
	background-color: #ffff;
	padding: 30px 40px;
	color: none;
	border-radius: 10px;
	border-left: 30px solid #317dc9;
}

h1{
	text-align :center;
	padding: 10px;
	
	color: #206ab4;
	
}
#fLog{
	padding-left: 20px;
	padding-right: 30px;
	
}
.f-control{
	width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
   box-sizing: border-box;
}
.f-controlK{
  padding-left: 30px;
  margin-bottom: 20px ;
  border: 1px solid #ccc;
}
#but{
	text-align:right;
}

.button1{
	background-color:rgb(0, 0, 0);
	border-radius: 10px;
	color:#e9ecef;
	padding: 10px;
}
.button2{
	background-color:rgb(255, 255, 255);
	border-radius: 10px;
	color:#000000;
	padding: 10px;
}
